<http>
  <body>
    <form action="/update?_id=<%= re._id%>" method="POST" encType="multipart/form-data">
      Restaurant Name:<input type="text" name="resName" value="<%= re.resName %>" required><br>
      Restaurant ID:<input type="text" name="resID" value="<%= re.resID %>"><br>
      Borough:<input type="text" name="borough" value="<%= re.borough %>"><br>
      Cuisine:<input type="text" name="cuisine" value="<%= re.cuisine %>"><br>
      Street:<input type="text" name="street" value="<%= re.address.street %>"><br>
      Building:<input type="text" name="building" value="<%= re.address.building %>"><br>
      Zipcode:<input type="text" name="zipcode" value="<%= re.address.zipcode %>"><br>
      Coord:<br>
      GPS Coordinates (lat.)<input type="text" name="lat" value="<%= re.address.lat %>"><br>
      GPS Coordinates (lon.)<input type="text" name="lon" value="<%= re.address.lon %>"><br>
      Photo:<input type="file" name="photo"><br>
      <input type="hidden" name="owner" value="<%= re.owner %>">
      <input type="submit" value="Update">
    </form>
  </body>
</html>